.eventBackBtn {
  background-color: transparent;
  border: none;
  font-family: "Poppins-Medium";
  cursor: pointer;
}

.eventTopBtns {
  display: flex;
  justify-content: space-between;
  padding-bottom : 1em;
}
