.custom-sidebar {
  width: 300px;
  background-color: transparent;
  border-right: 1px solid #e0e0e0;
}

.line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #e0e0e0;
}

.menu-items {
  padding-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease-in-out;
  border-radius: 10px; /* Added for consistent border radius on hover */
}

.menu-item:hover {
  color: #4f55f1;
  background-color: rgba(79, 85, 241, 0.1); /* Background stays within item */
}

.menu-item.active {
  color: #4f55f1;
}

.menu-item.active::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 15%;
  bottom: 15%;
  width: 4px;
  background-color: #4f55f1;
  border-radius: 5px;
}

.sideText {
  margin-left: 10px;
}

.chevron {
  margin-left: auto;
}

.submenu {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.submenu-item {
  padding: 5px 0;
  color: gray;
  cursor: pointer;
}

.submenu-item:hover {
  color: #4f55f1;
}
