* {
  -webkit-user-drag: none;
}

:root {
  --bgColor: #ffffff;
  --headingTextColor: #313338;
  --secondaryTextColor: #7c8db5;
  --btnPrimaryAcc: #4f55f1;
  --boxShadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

body {
  overflow-x: hidden;
  font-family: "Poppins-Regular";
  background-color: var(--bgColor);
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
}

.custom-sidebar {
  width: 250px;
  color: var(--secondaryTextColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.content {
  flex: 1;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer !important;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
  cursor: pointer !important;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./Assets/Fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./Assets/Fonts/Poppins-Medium.ttf") format("truetype");
}
